.footer {
  background: #f3f4f6;
  padding: 50px 100px;
  margin-top: 80px;
}

.footer-grid {
  display: flex;
  justify-content: space-between;
}

.footer h5 {
  font-weight: 600;
  margin-bottom: 10px;
}

.footer h6 {
  font-weight: 600;
  margin-bottom: 10px;
}

.footer p {
  color: gray;
  margin-bottom: 6px;
}